@import "../../sass/abstracts/variables.scss";

.list_box
{
    // display: grid;
    // grid-template-columns: repeat(4, 1fr);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5rem;
    padding-top: 0;
    // gap: 6rem;
    overflow: auto;
}
.time_contact,.list_box
{
    margin-top:2.5rem ;
}
.time_contact
{
    text-align: center;
    font-weight: 400;
    color : $color-gray;
}
span{
    color : $color-primary;
}