

.content {
  position: relative;
}

.content .content-overlay {
  background: rgba(0, 0, 0, 0.748);
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.img-banner
{
    width: 100%;
    
}
.nav--display{
 .pc{
    display: block;
  }
 .mobile{
    display: none;
  }
  @media (max-width:1024px)
  {
  .pc{
      display: none;
    }
  .mobile{
      display: block;
    }
  }
}
 
