.text_head--title{
    position: absolute;
   height: auto;
    top: 15rem;
    width: 100%;
    text-align: center;
    font-size: 6rem;
    font-weight: 400;
    img{
        width: 6rem;
        height: 6rem;
    }
}