.tittle
{
    display: inline-block;
    position: relative;
    left: 50%; 
    transform: translateX(-50%);
    font-size: 55px;
    margin: 0;
    &:hover{
        animation: move 0.5s linear;
    }
}

@keyframes move{
    0%{
        transform: translateX(-50%);
    }
    50%{
        transform: translateX(-5%);
    }
    100%{
        transform: translateX(-50%);
    }
}